BODY { 
 scrollbar-face-color: #DEEAFE; 
 scrollbar-shadow-color: #31659C; 
 scrollbar-highlight-color: #DEEAFE; 
 scrollbar-3dlight-color: #DEEAFE; 
 scrollbar-darkshadow-color: #DEEAFE; 
 scrollbar-track-color: #103C73; 
 scrollbar-arrow-color: #31659C;
 font-size: 10pt;
 line-height: 11pt;
 color: #333333; 
 font-family : Verdana, Arial, Helvetica, sans-serif;
}


A {
 color: #3366AA;
 text-decoration: none;
}
PRE {
 line-height: 5pt;
 margin: 15pt;
}









